<h2>parent-onetwo</h2>
<p>RANDOM NUM IN PARENT</p>
<h3>{{transformedRandomNumberInParent}}</h3>


{{child-one
randomNumber = randomNumber
}}

{{child-two
setRandomNumber = (action 'setRandomNumber')
}}