{{yield}}
<div class = "training-basic">OUR COMPONENT</div>

<div>
    this property from parent {{firstName}}
</div>
<div>
    this property from parent {{lastName}}
</div>
<button onclick={{action 'clickMe'}}> click

</button>